/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Decorate Body */

body {
    background-color:burlywood;
    text-align: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    transform: calc(100vh - 50vh);
}

div.bg-color {
    background-color: lightgoldenrodyellow;
    padding: 8rem;
    border: 4px solid black;
    border-radius: 50px;
    animation: spin 1.5s linear;
}

div.bg-color:hover {
    background-color: rgb(2, 190, 190);
}

div.bg-color:hover div#password {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
}


h1 {
    padding-bottom: 3rem;
}

div#password {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}