/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Decorate Body */

body {
    background-color: dodgerblue;
    text-align: center;
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    transform: calc(100vh - 50vh);
}

div.bg-color {
    background-color: darkcyan;
    padding: 8rem;
    border: 4px solid black;
    border-radius: 50px;
}

div.bg-color:hover {
    background-color: rgb(2, 190, 190);
}

h1 {
    padding-bottom: 3rem;
}

div#password {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

div#password:hover {
    padding: 5px;
    font-size: 1.5rem;
}